* {
  font-family: 'Courier';
}

#banner {
  text-align: center;
  background-color: black;
  color: white;
  margin: 5px;
}

#container {
  margin: 10px auto;
  width: 75vw;
  height: 90vh;
  padding: 5px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#messagesContainer {
  height: 55vh;
  overflow: hidden;
  overflow-y: scroll;
  margin: 5px;
}

li {
  padding: 5px;
}

.message {
  border-bottom: 1px solid black;
  word-wrap: break-word;
}

#inputContainer {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#inputContainerCreateChannel {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
}

#channels {
  padding: 5px;
}

#channels .header {
  text-align: center;
  background-color: black;
  color: white;
  margin-bottom: 5px;
}

#channels #channelsDropdown {
  border: 1px solid #000;
  padding: 5px;
  width: 100%;
}

#messageToSend {
  width: 100%;
}

#submitMessage,
#submitMessageCreateChannel {
  padding: 5px;
  border: 1px solid #000;
  cursor: pointer;
  background-color: #ddd;
}

#username, #messageToSend, #createChannelName {
  border: 1px solid black;
  outline: none;
  padding: 5px;
  margin-right: 5px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: black;
}

::-webkit-scrollbar-track {
  background: #eee;
}
